{% extends 'base.html.twig' %}

{% block body %}

    {% block nav %}
      {{ parent() }}
    {% endblock %}

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Catégorie
            <small>{{ category.name }}</small>
          </h1>

          <!-- Blog Post -->
          {% if games is not empty %}
            {% for game in games %}
              <div class="card mb-4">
                <img class="card-img-top" src="images/games/{{ game.imageName }}" alt="Card image cap">
                  <div class="card-body">
                    <h2 class="card-title"> {{ game.title }}</h2>
                    <p class="card-text"> {{ game.description }} </p>
                    <a href="/comments.{{ game.id }}" class="btn btn-primary"> Plus d'info &rarr;</a>
                  </div>
                <div class="card-footer text-muted">
                  Posted on {{ game.datepost.format('d-m-Y') }} by {{ game.author }}
                </div>
              </div>
            {% endfor %}
          {% else %}
            <p>Aucun jeux trouvée.</p>
          {% endif %}

          <ul class="pagination justify-content-center mb-4">
            <div class="pagerfanta">
              {{ pagerfanta(pager, 'twitter_bootstrap4') }}
            </div>
          </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          {% block search %}
            {{ parent() }}
          {% endblock %}

          {% block category %}
            {{ parent() }}
          {% endblock %}

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>

    {% block footer %}
      {{ parent() }}
    {% endblock %}

{% endblock %}
