{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {% block nav %}
      {{ parent() }}
    {% endblock %}

     <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4"> {{ game.title }} </h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#"> {{ game.author }} </a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on {{ game.datepost.format('d-m-Y') }} </p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="/images/games/{{ game.imageName }}" alt="">

          <hr>

          <!-- Post Content -->
          <p class="lead"> {{ game.description }} </p>

          <hr>

          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              {{ form_start(form) }}
                {{ form_row(form.author) }}
                {{ form_row(form.comment) }}

                <button type="submit">Envoyer!</button>
              {{ form_end(form) }}
            </div>
          </div>

          <!-- Comments -->
          {% if comments is not empty %}
            {% for comment in comments %}
              <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                  <h5 class="mt-0">{{ comment.author }}</h5>
                  {{ comment.comment }}
                </div>
              </div>
            {% endfor %}
          {% else %}
            <p> Il n'y a pas encore de commentaires :( </p>
            <p> Soit le premier <p>
          {% endif %}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          {% block search %}
            {{ parent() }}
          {% endblock %}

          {% block category %}
            {{ parent() }}
          {% endblock %}

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>

    {% block footer %}
      {{ parent() }}
    {% endblock %}

{% endblock %}
